.btn {
  border: 1px solid #fff;
  width: max-content;
  padding: 0.5em 2em;
  border-radius: 4px;

  &:disabled {
    border: 1px solid var(--clr-lgt) !important;
    color: var(--clr-lgt) !important;
    background-color: transparent !important;
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--clr-btn-hover);
  }
}
